.sub-item-link{
  text-decoration: none;
  color: green;
}

.sub-item-link:link{
  color: gray;
}

.sub-item-link:hover{
  color: black;
}

.sub-item-link:focus{
  outline: 3px solid red;
  outline-offset: 2px;
}

.sub-item-link:active{
  color: rgb(177, 42, 168);
}

.sub-item-link:visited{
  color: brown;
}