/* Para alterar a altura de um elemento, usamos a heightpropriedade  */
/* Para alterar a largura de um elemento, usamos a widthpropriedade . */
/* border-radiusFunciona em todos os elementos, até mesmo em imagens. 
É uma maneira fácil de fazer com que as imagens tenham uma ótima aparência em uma página da web. */
img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

/* Os elementos de uma página da web podem ter bordas ao redor deles.
Para ver como fica, adicione a borderpropriedade. */
/* Para fazer a borda aparecer, definimos o valor como solid. */
/* Podemos definir a largura de uma borda adicionando um número em pixels logo depois solid */
/* Para definir a cor, vamos adicionar redno final o valor de border. */
/* border-radiusé uma propriedade que arredonda os cantos de um elemento. Se definirmos o raio como
10px, a borda se curva 10pxantes do canto. */
.title {
    border: solid 10px red;
    border-radius: 10px;
}