body{
  background-color:#f4f4f4;
  width: 100%;
  height:100%;
}

.color-box{
  width:200px;
  height: 64px;
}

.color1{
  background-color: #ffafff;
}

.color2{
  background-color: rgb(255,130,10);
}

.color3{
  background-color: green;
}

.color4{
  background-color: hsl(200, 60%, 40%);
}

.color5{
  background-color: rgb(255,130,10);
}